name: Python poetry flake8 pytest mypy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]
        poetry-version: [1.1.4]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Python Poetry Action
      uses: abatilo/actions-poetry@v2.1.0
      with:
        poetry-version: ${{ matrix.poetry-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        poetry export -f requirements.txt > requirements.txt
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install flake8 pytest mypy
    - name: Lint with flake8
      run: |
        flake8 . --count --show-source --max-line-length=120 --statistics
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=120 --statistics
    - name: Test with pytest
      run: |
        pytest
    - name: Static type checker with mypy
      run: |
        mypy sample/
